
<div class="col s12 m6 l4">
  <article class="card-panel article_area">
    <h5><%= comment.bug.user.name %></h5>
    <%= simple_format comment.content %>

    <span>狀態：<%= convert_change_status(comment) %></span>
  </article>
</div>

