<%= form_for([@bug, comment = @bug.comments.build]) do |f| %>
	<div id="epiceditor"></div>
	<%= f.text_field :content %>
	<div id="b_selectbox">
	<%= f.select :change_status, options_for_select(@statuses.collect { |s| [s[0].humanize, s[0]] }, selected: comment.change_status), {} , class: "form-control" %>
	<%= f.submit '送出',class: 'btn',id: 'comment-button' %>
     
	</div>
<% end %>

<script>
  //GET CONTENT
  var editor = new EpicEditor().load();
  $("#comment-button").on('click', function(){
  	var content = editor.getElement('previewer').getElementById('epiceditor-preview').innerHTML;

  	$("#comment_content").val(content);
  	
  });
</script>
