<div id="bug#new">
	<div class="row">

	  <div class="col s12 m12 l8 offset-l2">
		<%= simple_form_for @bug, :html => {:class => 'form'} do |f| %>
		<%= f.input :title %>
		<%= f.input :body %>
		<%= f.submit '送出' %>
		<% end %>
	  </div>
	</div>
</div>